@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Dancing+Script&family=Poppins:ital,wght@0,300;0,500;600,700;1,800&family=Sono:wght@300&display=swap');
:root
{
--bg-black-900:#f2f2fc;
--bg-black-100:#fdf9ff;
--bg-black-50:#fdf9ff;
--text-black-900:#302e4d;
--text-black-700:#504e70;
}

body.dark{
    --bg-black-900:#151515;
    --bg-black-100:#222222;
    --bg-black-50:#393939;
    --text-black-900:#ffffff;
    --text-black-700:#e9e9e9;
}

body
{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' , sans-serif;
}

*
{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after
{
    box-sizing: border-box;
}

ul
{
  list-style: none;
}

.section
{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
   /* position: fixed;
    left:270px;*/
    padding: 0 30px;
   /* top: 0;
    right: 0;
    z-index: 0;*/
    opacity: 1;

}
/*.hidden
{
    display: none !important;
}*/

.main-content
{
    padding-left: 270px;
}

.padd-15
{
    padding-left: 15px;
    padding-right: 15px;
}

.container
 {
     max-width: 1100px;
     width: 100%;
     margin: auto;
 }

.section .container
{
    padding-top: 60px;
    padding-bottom: 70px;
}

.section-title
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;

}

.section-title h2
{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before
{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after
{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

}

.btn
{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover
{
    transform: scale(1.05);
}
/* aide */

.shadow-dark
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.aside
{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo
{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
    animation: animate 10s linear infinite;
}

.aside .logo a
{
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
    animation: animate  linear infinite;
}

@keyframes animate {
    0%{
        opacity: 0;
        transform: rotateY(360deg);
        color: #e41cf8;
    }
    100%{
        opacity: 1;
        transform: rotateY(-180deg);
    }
}

.aside .logo:hover
{
    animation-play-state: paused;

}


.aside .logo a span
{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}
.aside .logo a::before
{
   content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
}

.aside .logo a::after
{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
}

.aside .nav-toggler
{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;

}

.aside .nav-toggler span
{
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}

.aside .nav-toggler span::after
{
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}

.aside .nav
{
    margin-top: 50px;
}

.aside .nav li
{
    margin-bottom: 20px;
    display: block;
}
.aside .nav li a
{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active
{
    color: var(--skin-color);
    transition: all 0.4s ease;
}

.aside .nav li a:hover
{
    transform: scale(1.05);
    color: var(--skin-color);
}

.aside .nav li a i
{
    margin-right: 15px;
}

/*My home content*/

.home
{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-info
{
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello
{
    font-size: 28px;
    margin: 15px 0;
}

h3.my-profession
{
    font-size: 30px;
    margin: 15px 0;
}

.typing
{
    color: var(--skin-color);
}

.home-info p
{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

h3.hello span
{
    font-family: 'Clicker Script' , cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);

}

.home .home-img
{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

/*.home-img::after
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}

.home-img::before
{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: -20px;
    top: -40px;
}*/

.home .home-img img
{
    margin: auto;
    border-radius: 5px;
    width: 250px;
}

.home .bubbles img
{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.home .bubbles
{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    bottom: -70px;

}

@keyframes bubble {
    0%{
        transform: translateY(0);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    70%{
        opacity: 1;
    }
    100%{
        transform: translateY(-80vh);
        opacity: 0;
    }
}

.home .bubbles img:nth-child(1)
{
    animation-delay: 2s;
}

.home .bubbles img:nth-child(2)
{
    animation-delay: 1s;
}

.home .bubbles img:nth-child(3)
{
    animation-delay: 3s;
}

.home .bubbles img:nth-child(4)
{
    animation-delay: 4.5s;
}

.home .bubbles img:nth-child(5)
{
    animation-delay: 3s;
}

.home .bubbles img:nth-child(6)
{
    animation-delay: 5s;
}

.home .bubbles img:nth-child(7)
{
    animation-delay: 4s;
}






body .photo header
{
    box-shadow: 4px 2px 4px 0px #000000;
    background: var(--skin-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 6;
    /*background: url("/Assignments/Transitions/img/A.jpg");*/
    background-size: cover;
    background-position: center;
}

/*body .photo header img
{
    top: 5px;
    left: 10px;
    width: 100px;
    position: relative;
    display: inline;

}*/

body .photo header .front{
    top: 5px;
    left: 10px;
    right: 0;
    width: 100px;
    position: relative;
    animation: animates 10s linear infinite;
}

body .photo header .back{
    top: 5px;
    right: 0px;
    left: 77%;
    width: 100px;
    position: relative;
    animation: animates2 10s linear infinite;
}

@keyframes animates {

    100% {
        transform: translateX(1500px);
    }
}

@keyframes animates2 {

    100% {
        transform: translateX(-1600px);
    }
}


.home svg{
    position: relative;
    width: 60px;
    height: 40px;
    transform: translate(-50%,-50%);
    animation: rotate 3s linear infinite;
    color: var(--skin-color);
    cursor: pointer;
    transition: 5s;
}

.home svg:hover{
    /*animation-play-state: paused;*/
    transition: 5s;
    border-radius: 100%;
    background:  var(--skin-color);
}

@keyframes rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform:rotate(90deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.home .sav2{
    position: relative;
    width: 60px;
    height: 40px;
    transform: translate(-50%,-50%);
    animation: rotates2 3s linear infinite;
    animation-direction: revert;
    color: var(--skin-color);
}

@keyframes rotates2 {
    100%{
        transform: rotate(-180deg);
    }
    0%{
        transform:rotate(0deg);
    }

}

/*social Media*/
.social-media{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
}

.social-media img{
    width: 40px;
}

.social-media figure img{
    margin-right: 20px;
    transition: all 0.5s ease;
}

.social-media:hover
{
    transform: scale(1.05);
}

/*.social-media-contact{
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-left: 500px;

}

.social-media-contact figure img{
    margin-right: 20px;

}*/

/*.social-media ul
{
    position: relative;
    display: flex;
    top: 20px;
}

.social-media ul li
{
    position: relative;
    list-style: none;
    margin: 0 20px;
    cursor: pointer;

}

.social-media ul li a
{
    text-decoration: none;

}

.social-media ul li a .fa-brands
{
    font-size: 30px;
    color: #222;
}

.social-media ul li::before{
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    left: 0;
    font-size: 25px;
    top: 0;
    bottom: 0;
    height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.social-media ul li:nth-child(1)::before
{
    content: '\f09a';
    color: blue;
    border-bottom: 2px solid blue;
}

.social-media ul li:nth-child(2)::before
{
    content: '\f167';
    color: red;
    border-bottom: 2px solid red;
}

.social-media ul li:nth-child(3)::before
{
    content: '\f16d';
    color: darkmagenta;
    border-bottom: 2px solid darkmagenta;
}

.social-media ul li:hover::before
{
    height: 100%;
}*/



/*about*/

.about .about-content
{
    flex: 0 0 100%;
    max-width: 100%;

}

.about .about-content .about-text
{
    flex: 0 0 100%;
    max-width: 100%;

}

.about .about-content .about-text h3
{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .about-text h3 span
{
   color: var(--skin-color);
}

.about .about-content .about-text p
{
   font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}

.about .about-content .personal-info
{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}

.about .about-content .personal-info .info-item
{
    flex: 0 0 50%;
    max-width: 50%;
}

.about .about-content .personal-info .info-item p
{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}

.about .about-content .personal-info .info-item p span
{
    font-weight: 400;
    color: var(--text-black-700);
}

.about .about-content .personal-info .info-item p span a
{
    color: var(--skin-color);
}

.about .about-content .personal-info .buttons
{
    margin-top: 30px;
}

.about .about-content .personal-info .buttons .btn
{
    margin-right: 15px;
    margin-top: 10px;
}


.about .about-content .skill
{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px
}

.about .about-content .skill h3{
    color: var(--text-black-900);
}

/*.about .about-content .skill h3
{
    font-weight: 600;
    font-size: 16px;
    color: #e41cf8;
}*/

.about .about-content .skill .skill-item
{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .skill .skill-item h5
{
    line-height: 40px;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-900);
    text-transform: capitalize;

}

.about .about-content .skill .skill-item .progress
{
    background-color: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    width: 100%;
    position: relative;
}

.about .about-content .skill .skill-item
{
    margin-bottom: 25px;

}

.about .about-content .skill .skill-item .progress .progress-in
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background-color: var(--skin-color);
}

.about .about-content .skill .skill-item .skill-percent
{
    position: absolute;
    right: 0;
    color: var(--text-black-900);
    top: -40px;
    font-weight: 400;
    line-height: 40px;
}

.about .about-content .education,
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;

}

.about .about-content h3.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
}

.about .about-content .timeline-box
{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .timeline
{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width:100%;
    position: relative;
}

.about .about-content .timeline .timeline-item
{
    position: relative;
    padding-left: 38px;
    padding-bottom: 50px;
}

.about .about-content .timeline .timeline-item:last-child{
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item:before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}

.about .about-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa
{
   margin-right: 10px;
}

.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}

.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/*servise*/
.service .container
{
    padding-bottom: 40px;
}

.service .service-item
{
    margin-bottom: 30px;
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .service-item .service-item-inner
{
    background-color: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 30px 15px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner:hover
{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

.service .service-item .service-item-inner .icon
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    /*background-color: red;*/
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.service .service-item .service-item-inner .icon .fa
{
    font-size: 40px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 3s ease;
}
.service .service-item .service-item-inner:hover .icon
{
    background: var(--skin-color);
}

.service .service-item .service-item-inner:hover .icon .fa
{
    font-size: 25px;
    color: #ffffff;
}

.service .service-item .service-item-inner h4
{
    font-size: 18px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.service .service-item .service-item-inner p
{
    font-size: 16px;
    color: var(--text-black-700);
    line-height: 25px;
}

/*portfolio section*/

.portfolio .container
{
    padding-bottom: 40px;
}

.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}

.portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    display: block;
    transition: all 3s ease;
    animation: animatesd 5s linear infinite;
}

.portfolio .portfolio-item-inner .portfolio-img img:hover
{
    transform: scale(1.05);

}

@keyframes animatesd {

    100% {
        transform: rotate(360deg);
    }
    50% {
        transform: translateX(10px);
    }
    25% {
        transform: translateX(-10px);
    }

}


/*Contact*/

.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title
{
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}

.contact .contact-info-item
{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60px;
}

.contact .contact-info-item .icon
{
    display: block;
}

.contact .contact-info-item .icon .fa
{
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4 P
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 30px 0 5px;
}

.contact .contact-info-item p
{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}

.contact .contact-info-item p a
{
    color: var(--skin-color);
}

.contact .contact-form
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .col-6
{
    flex: 0 0 50%;
    max-width: 50%;
}

.contact .contact-form .col-12
{
    flex: 0 0 100%;
    max-width: 100%;
}

.contact .contact-form .from-item
{
    margin-bottom: 30px;
}

.contact .contact-form .from-item .from-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 03s ease;
}

.contact .contact-form .from-item .from-control:focus
{
    box-shadow: 0 0 20px rgba(48,46,77,0.15);
}

.contact .contact-form .from-item textarea.from-control
{
    height: 140px;
}

.contact .contact-form .btn
{
    height: 50px;
    padding: 0 50px;
}

/*input
{
    -webkit-appearance: none;
    visibility: hidden;
    display: flex;
}

label span{
    position: relative;
    right: -40px;
    top: 60px;
    font-size: 25px;
    border-radius: 3px;
    cursor: pointer;
    background: #e41cf8;
}
#bars{
    background: red;
}

#check:checked ~ .main-content{
    transform: translate(0);
}*/


@media (max-width: 1199px) {
    .aside{
        left: -270px;
    }
    .main-content{
        padding-left: 0;
    }

    .about .about-content .personal-info .info-item p span{
        display: block;
        margin-left: 0;
    }
}

@media (max-width: 991px)
{
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item{
        flex: 0 0 50%;
        max-width: 50%;
    }

    .home .home-info{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .home .home-img{
      /* display: none;*/
  }
}

@media (max-width: 767px)
{
    .social-media figure img,
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .portfolio .portfolio-item,
    .service .service-item,
    .about .about-content .personal-info .info-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skill,
    .about .about-content .personal-info{
        flex: 0 0 100%;
        max-width: 100%;
    }
}
@media (max-width: 450px) {
    .home .home-img{
        position: relative;
        width: 50px;
    }

    .home .social-media  {
        position: relative;
        flex-direction: column;
    }

    .portfolio .social-media{
        position: relative;
        flex-direction: column;
    }

}

@media (max-width: 321px) {
    .home .bubbles img,
    .home .home-img{
        position: relative;
        width: 20px;
    }

    .home .social-media  {
        position: relative;
        flex-direction: column;
    }

    .portfolio .social-media{
        position: relative;
        flex-direction: column;
    }

}

@media (max-width: 279px) {
    .home .bubbles img,
    .home .home-img{
        position: relative;
        width: 20px;
    }

    .home .social-media  {
        position: relative;
        flex-direction: column;
    }

    .portfolio .social-media{
        position: relative;
        flex-direction: column;
    }

}


