body{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.calculator{
    position: relative;
    background-color: #4d5154;
    padding: 25px;
    border-radius: 10px;
    z-index: 4;

}

.screen{
    position: relative;
    width: 306px;
    height: 94px;
    background-color: #e41cf8;
    font-size: 30px;
    text-align: end;
    padding: 4px;
    margin-left: 152px;
    margin-bottom: 6px;
    border-radius: 4px;
    z-index: 4;
    box-shadow: 0 0 20px rgba( 74, 28, 0.15);
    text-align: right;


}

#clear{
    position: relative;
    top: 100px;
    left: 35px;
    background-color: rosybrown;
}

#clear:active{
    background-color: #e41cf8;
}

.buttons{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

button{
    background-color: rgba(255,255,255);
   /* color: rgba(255,255,255);*/
    border: none;
    font-size: 50px;
    height: 100px;
    width: 100px;
    margin: 4px;
    top: auto;
    border-radius: 10px;
}

button:hover{
    background-color: #93ff2d;
}

button:active{
    background-color: #e41cf8;
}

#equals{
    background-color: rosybrown;
}

#equals:active{
    background-color: #e41cf8;
}

#content{
    position: relative;
    text-align: center;
    left: 0;
    right: 0;
    top: 35px;
    bottom: 0;
    margin: auto;
    color: red;
}